.about-us-banner {
    background-color: #F1EAEA;
    text-align: center;
}

.landing-banner {
    background-color: #F5C6D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.banner-left-image, .banner-center-image {
    width: 90%;
    height: 80%;
}

.banner-left-img-container, .banner-right-img-container, .banner-center-img-container {
    text-align: center;
    font-size: 23px;
    font-family: 'Rufina', serif;
}

.banner-right-image {
    height: 9%;
    width: 80%;
}

.banner-left-image {
    transform: rotate(-4deg);
}

.banner-center-image {
    transform: rotate(3deg);
}

.banner-right-image {
    transform: rotate(2deg);
}

.catchy-phrase {
    padding: 5px;
    font-size: 15px;
    font-family: 'Shadows Into Light Two', cursive;
}

.shop-by-style-container {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
}

.shop-one-piece {
    width: 100%;
}

.shop-two-piece {
    width: 100%;
}

@media (min-width: 769px) {
    .about-us-banner {
        height: 100px;
    }
    .catchy-phrase {
        padding: 10px;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .shop-by-style-container {
        height: 900px;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
    }
    .title-for-catchy-phrase {
        padding-bottom: 3px;
    }
    .shop-two-piece, .shop-one-piece {
        height: 750px;
        width: auto;
    }
    .landing-banner {
        height: 400px;
        padding: 35px;
        align-items: unset;
    }
    .banner-left-img-container, .banner-right-img-container, .banner-center-img-container {
        font-size: 35px;
        height: 264px;
    }
    .banner-left-image, .banner-right-image, .banner-center-image {
        height: 300px;
        width: auto;
    }
    .banner-left-image {
        transform: rotate(-6deg);
    }
    .banner-right-image {
        transform: rotate(-3deg);
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .shop-by-style-container {
        height: 800px;
        flex-direction: row;
    }
    .landing-page-email-container {
        margin-bottom: 100px;
    }
}