.about-us-banner {
    background-color: #F1EAEA;
    text-align: center;
}

.landing-banner {
    background-color: #F5C6D7;
    height: 300px;
}

.catchy-phrase {
    padding: 12px;
    font-size: 15px;
    font-family: 'Shadows Into Light Two', cursive;
}

.shop-by-style-container {
    background-color: #F4F4F4;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.shop-one-piece {
    height: 50%;
}

.shop-two-piece {
    height: 50%;
}

.banner-with-bikinis {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 650px) {
    .about-us-banner {
        height: 100px;
        text-align: center;
    }
    .landing-banner {
        height: 300px;
    }
    .catchy-phrase {
        padding: 10px;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .shop-by-style-container {
        display: flex;
        background-color: #F4F4F4;
        height: 900px;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
    }
    .shop-one-piece {
        height: 750px;
    }
    .shop-two-piece {
        height: 750px;
    }
    .landing-banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .banner-left-img-container, .banner-right-img-container, .banner-center-img-container {
        display: flex;
    }
    .banner-left-image, .banner-right-image, .banner-center-image {
        height: 250px;
    }
    .left-img-word, .center-img-word, .right-img-word {
        display: flex;
    }
    .banner-left-image {
        transform: rotate(-6deg);
    }
    .banner-center-image {
        transform: rotate(3deg);
    }
    .banner-right-image {
        transform: rotate(-3deg);
    }
}