.login-page {
    background-color: black;
    min-height: 100vh;
}

.login-form{
    margin: auto;
    background-color: #FFA3D4;
    padding: 0 5% 0 5%;
    width: 80%;
    font-family: 'Sintony', serif;
}

.login-form-label, .login-page-title, .login-form-title {
    text-align: center;
}

.register-link-container, .login-form-container, .login-button-container {
    display: flex;
    justify-content: center;
}

.login-page-title{
    color: white;
    padding: 50px 4px 0px 4px;
    font-family: 'Rufina', serif;
}


.register-link-container{}
.register-link{}

.login-form-label {}

.login-form-container {
    padding: 20% 0 70% 0;
}

.login-page-title {}

.login-form-title {}

.login-button-container {}

@media (min-width: 650px) {
    .login-form {
        padding: 0 90px 30px 90px;
        border-radius: 3px;
    }
    .login-form-container {
        padding: 80px;
    }
    .login-page {}
    .login-form-label {}
    .login-page-title {
        padding: 60px;
    }
    .login-form-title {}
    .login-button-container {}
    .register-link{}
    .register-link-container{}
}