.login-page {
    background-color: black;
    min-height: 100vh;
}

.login-form-label, .login-page-title, .login-form-title {
    color: white;
    text-align: center;
}

.register-link-container{}
.register-link{}

.login-form-label {}

.login-form-container {}

.login-page-title {}

.login-form-title {}

.login-button-container {}

@media (min-width: 650px) {
    .login-form-container {}
    .login-page {}
    .login-form-label {}
    .login-page-title {}
    .login-form-title {}
    .login-button-container {}
    .register-link{}
    .register-link-container{}
}