.login-page {
    background-color: #191127;
    min-height: 100vh;
}

.login-form {
    margin: auto;
    background-color: #FFA3D4;
    padding: 0 5% 0 5%;
    width: 60%;
    font-family: 'Sintony', serif;
}

.login-form-label, .login-page-title, .login-form-title {
    text-align: center;
}

.register-link-container, .login-form-container, .login-button-container {
    display: flex;
    justify-content: center;
}

.login-page-title {
    color: white;
    padding: 50px 4px 0px 4px;
    font-family: 'Rufina', serif;
}

.register-link-container {
    padding-bottom: 10px;
}

.register-link {
    text-decoration: none;
    font-family: 'Sintony', serif;
    font-size: 12px;
    color: yellow;
}

.login-form-label {
    padding: 3px;
}

.login-form-container {
    padding: 20% 0 70% 0;
}

.login-form-title {
    font-weight: 800;
    padding: 10px;
}

.login-button-container {
    margin: 20px 20px 4px 20px;
}

.login-button{
    background-color: #FF70BD;
    border: none;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: auto;
    width: 70%;
}

@media (min-width: 650px) {
    .login-form {
        padding: 0 90px 30px 90px;
        border-radius: 3px;
    }
    .login-form-container {
        padding: 80px;
    }
    .login-form-label {
        padding: 4px;
    }
    .login-page-title {
        padding: 60px;
    }
    .login-form-title {
        padding: 30px
    }
    .login-button-container {
        margin-bottom: 15px;
    }
    .register-link {
        font-size: 15px;
    }
    .register-link-container {
        margin-bottom: 40px;
    }
    .login-button{
        width: 200px;
        font-size: 19px;
    }
}