.registration-form-container {
    padding: 20% 0 70% 0;
}

.registration-form-container, .registration-button {
    display: flex;
    justify-content: center;
}

.registration-form {
    margin: auto;
    background-color: #FFA3D4;
    padding: 0 5% 0 5%;
    width: 72%;
    font-family: 'Sintony', serif;
}

.registration-form, .registration-form {
    border-radius: 2px;
}

.register-form-title {
    padding: 15px;
}

.register-form-title {
    font-weight: 800;
    text-align: center;
}

.registration-label {
    padding: 2px;
    text-align: center;
}

.login-link {
    text-decoration: none;
    font-family: 'Sintony', serif;
    font-size: 12px;
    color: yellow;
}

.registration-button {
    background-color: #FF70BD;
    border: none;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: auto;
    width: 70%;
}

.registration-button-container {
    margin: 20px 20px 4px 20px;
}

.login-link-container {
    display: flex;
    justify-content: center;
    padding: 5px 0 10px 0;
    font-weight: bolder;
}

@media (min-width: 650px) {
    .registration-form-container {
        padding: 80px;
    }
    .registration-form {
        padding: 0 90px 30px 90px;
        border-radius: 3px;
    }
    .register-form-title {
        padding: 30px
    }
    .registration-label {
        padding: 3px
    }
    .registration-button {
        width: 200px;
        font-size: 19px;
    }
    .login-link {
        font-size: 15px;
    }
    .login-link-container {
        padding-bottom: 50px;
    }
    .registration-button-container {
        margin-bottom: 15px;
    }
}