.admin-home {
    background-color: black;
}

.registration-title {
    padding: 30px 4px 0px 4px;
    font-family: 'Rufina', serif;
}

.registration-title {
    color: white;
    text-align: center;
}

@media (min-width: 650px) {
    .registration-title {
        padding: 40px;
    }
}