.admin-nav-links {
    float: right;
    padding-top: 10px;
}

.logout-link {
    color: #F40C89;
    padding: 8px;
    text-decoration: none;
    display: inline;
    list-style: none;
    cursor: pointer;
    font-family: 'Rufina', serif;
}

@media (min-width: 650px) {
    .admin-nav-links {
        float: right;
        margin-top: 10px;
    }
    .logout-link {
        text-decoration: none;
    }
}