.banner {
    background-color: #F5C6D7;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bolder;
    font-size:15px;
    text-align: center;
    padding: 20px;
}

@media (min-width: 650px) {
    .banner {
        height: 120px;
        padding: 40px;
        font-size:20px;
        line-height: initial;
    }
}