.banner {
    background-color: #F5C6D7;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 650px) {
    .banner {
        height: 120px;
    }
}