.footer {
    background-color: black;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-text {
    color: white;
    font-size: 12px;
    font-family: 'Rufina', serif;
}

@media (min-width: 650px) {
    .footer {
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset;
    }
}