* {
    margin: 0;
}

.nav-links {
    float: right;
    padding-left: 0px;
    padding-top: 10px;
}

.link {
    color: #F40C89;
    padding: 8px;
    text-decoration: none;
    display: inline;
}

li {
    list-style: none;
}

nav {
    height: 40px;
    width: auto;
}

.logo {
    height: 35px;
    margin: 2px 0 0 9px;
}

@media (min-width: 650px) {
    .nav-links {
        float: right;
        margin-top: 10px;
    }
    .link {
        padding: 30px;
        text-decoration: none;
    }
    nav {
        height: 50px;
        width: auto;
    }
    .logo {
        height: 49px;
        margin: 1px 0 0 20px;
    }
}