.pink-banner{
    background-color: #F5C6D7;
    display: flex;
    justify-content: center;
}

.swimwear-products{
    margin-top: 10px;
    margin-bottom: 50px;
    min-height: 70vh;
}

@media (min-width: 650px) {
    .swimwear-products{
        margin-top: 0;
        margin-bottom: 100px;
    }
}