.products {
    display: flex;
    flex-wrap: wrap;
}

.link-button {
    text-decoration: none;
    font-weight: bold;
    color: #F96DB9;
}

.link-button, .name-link, .product-name, .short-description{
    font-family: 'Rufina', serif;
}

.product-container {
    padding: 5px;
    width: 150px;
    margin: auto;
    align-items: center;
}

.listing-products {
    list-style-type: none;
}

.product-image {
    height: 150px;
}

.product-name, .short-description, .product-price {
    text-align: center;
}

.short-description, .product-price {
    font-size: 12px;
    line-height: normal;
}
.product-price{
    margin-bottom: 5px;
}
.product-name {
    font-size: 14px;
}

.heart {
    height: 20px;
}

.name-link {
    text-decoration: none;
    color: black;
}
.product-button {
    border-top: 1px solid #F96DB9;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: white;
    display: flex;
    margin: auto;
}

@media (min-width: 650px) {
    .products {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .short-description {
        margin-bottom: 2px;
    }
    .product-container {
        padding: 15px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .product-image {
        height: 230px;
    }
    .heart {
        height: 25px;
    }

    .link-button {
        font-size: 12px;
    }
    .product-button {
        margin-top: 3px;
    }

    .listing-products{
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
    }
}