* {
    box-sizing: border-box;
}

.desktop-view {
    display: none;
}

.product-container-mobile-view{
    margin-bottom: 80px;
}

@media (min-width: 769px) {
    .mobile-view {
        display: none;
    }
    .product-container-desktop-view {
        margin: 20px 0 100px 0;
        display: flex;
        padding: 80px;
    }
    .desktop-view {
        display: unset;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5){
    .mobile-view {
        display: unset;
    }
    .product-container-desktop-view {
        margin: 20px 0 100px 0;
        display: flex;
        padding: 80px;
    }
    .desktop-view {
        display: none;
    }
}

