* {
    box-sizing: border-box;
}

.left-thumbnails {
    width: 50%;
    float: left;
    height: 245px;
    cursor: pointer;
}

a.thumbnail:hover {
    box-shadow: 5px 5px 5px rgb(255, 182, 249);
}

.thumbnail>img {
    height: 100%;
    margin-bottom: 5px;
}

.hero {
    width: 100%;
    float: right;
    height: 500px;
    margin-left: 8px;
}

.hero>img {
    height: 100%;
}

.image-container {
    display: flex;
    width: 100%;
}