* {
    box-sizing: border-box;
}

.left-thumbnails {
    width: 50%;
    float: left;
    height: 245px;
    cursor: pointer;
}

.thumbnail>img {
    height: 100%;
    margin-bottom: 5px;
}

.hero {
    width: 100%;
    float: right;
    height: 500px;
    margin-left: 12px;
}

.hero>img {
    height: 100%;
}

.image-container {
    display: flex;
    width: 60%;
    margin-left: 2%;
}