* {
    box-sizing: border-box;
}

.product-name, .price, .colour-heading, .colour, .details, .desktop-product-details, .details-heading{
    text-align: center;
}

.product-name, .colour-heading, .details-heading{
    font-family: 'Rufina', serif;
}
.product-information{
    padding: 10px;
    margin-left: 100px;
}

.price, .details {
    font-family: 'Sintony', serif;
}


/* heart icon */
.heart{
    height: 30px
}


.price, .desktop-product-details{
    margin: 20px;
}


.colour, .details{
    padding: 5px;
}

.desktop-product-details{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details{
    text-transform: capitalize;
}

.details, .product-name{
    font-size: 18px;
}
