* {
    box-sizing: border-box;
}

.product-name, .price, .colour-heading, .colour, .desktop-product-details, .desktop-details, .details-heading {
    text-align: center;
}

.product-name, .colour-heading, .details-heading {
    font-family: 'Rufina', serif;
}

.product-information {
    padding: 10px;
}

.price, .desktop-details {
    font-family: 'Sintony', serif;
}

/* heart icon */

.heart {
    height: 30px
}

.price, .desktop-product-details {
    margin: 20px;
}

.colour, .desktop-details {
    padding: 5px;
}

.desktop-product-details {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desktop-details {
    text-transform: capitalize;
    font-size: 15px;
    line-height: normal;
}

.product-name {
    font-size: 18px;
}