* {
    box-sizing: border-box;
}

.product-name, .price, .product-details, .details-heading {
    text-align: center;
}

.product-name, .details-heading {
    font-family: 'Rufina', serif;
}

.container-product-information {
    padding: 10px;
}

.price, .details {
    font-family: 'Sintony', serif;
}

.details {
    text-transform: capitalize;
    font-size: 14px;
    line-height: normal;
    padding: 10px;
    text-align: center;
}

/* heart icon */

.heart {
    height: 30px
}

.price, .product-details {
    margin: 20px;
}

.colour {
    padding: 5px;
}

.product-details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

@media (min-width: 650px) {
    .product-details {}
    .details {}
    .details-heading {}
}