* {
    box-sizing: border-box;
}

.add-button{
    font-size: 13px;
}
.empty-space {
    margin-bottom: 60px;
}

@media (min-width: 650px) {
    .empty-space {
        margin-top: 150px;
    }

    .add-button{
        font-size: 15px;
    }
}