* {
    box-sizing: border-box;
}

.link-to-add-new {
    color: #F40C89;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Sintony', serif;
}

.add-button {
    border: none;
    background: none;
}

.add-button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.plus-icon {
    height: 15px;
}

.empty-space {
    margin-bottom: 60px;
}

@media (min-width: 650px) {
    .empty-space {
        margin-top: 150px;
    }
    .add-button {
        position: absolute;
        top: 130px;
        right: 20px;
    }
    .link-to-add-new {
        font-size: 15px;
    }
}