.about-us-paragraph {
    font-size: 12px;
    font-family: 'Rufina', serif;
    text-align: center;
    padding: 0 20px 0 20px;
    line-height: 1.3;
    font-weight: bold;
}

.empty-space-about-us {
    margin-top: 25%;
}

.pictureContainer {
    height: 200px;
    display: flex;
    padding: 20px;
    margin: 28px;
}

.img {
    height: 100%;
    margin: auto;
}

hr {
    width: 70%;
    margin: 2% 15% 2% 15%;
}

.empty-div-about-us {
    margin-bottom: 50px;
}

.about-us-section {
    min-height: 38vh;
}

@media (min-width: 650px) {
    .about-us-paragraph {
        padding: 0px 50px 0 50px;
        line-height: 1.5;
        font-size: 15px;
    }
    .empty-space-about-us {
        margin-top: 100px;
    }
    .pictureContainer {
        height: 300px;
        padding: 15px;
    }
    .empty-div-about-us {
        margin-bottom: 40px;
    }
    hr {
        width: 50%;
        margin: 1% 25% 1% 25%;
    }
}